<div class="flex w-screen h-screen text-gray-400 bg-gray-900">
  <!-- Component Start -->
  <app-dashboard-sidebar></app-dashboard-sidebar>
  <div class="flex flex-col md:flex-row flex-grow">
    <!-- dropdown button and items-->
    <div class="w-auto border-r border-gray-800">
      <app-documents [docs]="userDocs"></app-documents>
    </div>
    <div class="flex flex-col flex-grow">
      <!-- page title and actions -->
      <div
        class="flex items-center flex-shrink-0 h-16 px-8 border-b border-gray-800"
        [ngClass]="{ 'animate-pulse': loading$ | async }"
      >
        <h1 class="text-sm font-semibold">
          {{ selectedDocument?.title || "Start by selecting a document" }}
        </h1>

        <div class="flex items-center justify-center px-4 ml-auto">
          <p-avatarGroup styleClass="mb-0" *ngFor="let obj of activeUsersOnDoc">
            <p-avatar
              [label]="obj.username.slice(0, 1) | uppercase"
              size="medium"
              shape="circle"
              [title]="obj.username"
              class="cursor-pointer"
            ></p-avatar>
          </p-avatarGroup>
        </div>

        <button
          class="flex items-center justify-center h-10 px-4 ml-2 text-sm font-medium rounded hover:bg-gray-800"
        >
          Invite collaborators
        </button>
        <button
          class="flex items-center justify-center h-10 px-4 ml-2 text-sm font-medium rounded hover:bg-gray-700"
        >
          Active chat
        </button>

        <button class="relative ml-2 text-sm focus:outline-none group">
          <div
            class="flex items-center justify-between w-10 h-10 rounded hover:bg-gray-800"
          >
            <svg
              class="w-5 h-5 mx-auto"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
              />
            </svg>
          </div>
          <div
            class="absolute right-0 flex-col items-start hidden w-40 mt-1 pb-1 bg-gray-800 border border-gray-800 shadow-lg group-focus:flex"
          >
            <a class="w-full px-4 py-2 text-left hover:bg-gray-900"
              >Delete document</a
            >
            <a class="w-full px-4 py-2 text-left hover:bg-gray-900">Settings</a>
            <a
              class="w-full px-4 py-2 text-left bg-rose-600/70 hover:bg-rose-600 font-bold"
              (click)="logout()"
              >Logout</a
            >
          </div>
        </button>
      </div>
      <!-- page content -->
      <div class="flex-grow p-6 w-full overflow-auto bg-gray-800">
        <ng-container *ngIf="selectedDocument">
          <app-document
            (contributingUsers)="getContributingUsers($event)"
            [document]="selectedDocument"
          ></app-document>
        </ng-container>
      </div>
      <p-toast></p-toast>
      <!-- Component End  -->
    </div>
  </div>
</div>
